<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMEQ</title>
    <link rel="stylesheet" href="/css/index.css"/> 
</head>
<body>

    <div id="valor">
        O valor selecionado é de: <span id="demo"></span> 
    </div>
    
    <div class="container">
        <div class="sliderInfo">
            <div class="slidecontainer" >
                <input type="range" min="0" max="150" value="0" class="slider" id="myRange">
            </div>
        </div>
        
        <div class="tecnica">
            <img src="/img/scale.png" alt="escalaSMEQ"/>
        </div>
    </div>

    <script src="/js/slider.js"></script>
</body>
</html>